<div class="faq">
  <div class="container">
    <div class="row" style="margin-top:150px;">
      <div class="span12">
<p><%= link_to 'Back', groups_path %></p>
<h1>New Group</h1>

<%= render 'form', group: @group %>


</div>
    </div>
  </div>
</div>