<div class="faq">
  <div class="container">
    <div class="row" style="margin-top:150px;">
      <div class="span12">
      	<h1>New Video</h1>
       <p>
          <%= link_to 'Back', elder_videos_path %>
       </p>
        <%= render 'form', elder_video: @elder_video %>
      </div>
    </div>
  </div>
</div>